<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <listener-class>thunb.listener.SerletContextListener</listener-class>
    </listener>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>welcome.jsp</welcome-file>
    </welcome-file-list>
<!--     <context-param>
        <param-name>IMAGE_UPLOAD_DIR</param-name>
        <param-value>C:\\ProductImg</param-value>
        <param-value>C:\\Users\\Banh Bao\\OneDrive\\Lab_PRJ321\\HanaShop\\web\\resources\\imgs</param-value>
    </context-param>-->
    <resource-ref>
        <res-ref-name>HanaShopDB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
